In [1]:
# import all the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#load the dataset
df1=pd.read_excel("../Data/PredictingOutcomes_ParticipantDemographics.xlsx",sheet_name="Study 1A")

# df1.head()
# create a dataframe with participant_id and gender from the dataset
df1=df1[['participant_id','gender']]
# df1
df2=pd.read_excel("../Data/PredictingOutcomes_Participantpredictions.xlsx",sheet_name="Study 1A")
# merge the two dataframes on the basis of participant_id
df3=pd.merge(df1,df2,on='participant_id')
df3

,participant_id,gender,study,generator,rate,trial,sequence,type,terminal_streak_length,prediction_raw,prediction_recode
0,1,1,1A,analyst,unknown,1,110110,filler,1,75,25
1,1,1,1A,analyst,unknown,2,1101,filler,1,51,51
2,1,1,1A,analyst,unknown,3,10110100,target,2,69,31
3,1,1,1A,analyst,unknown,4,1011110,filler,1,25,75
4,1,1,1A,analyst,unknown,5,1010111,target,3,83,83
...,...,...,...,...,...,...,...,...,...,...,...
2587,150,0,1A,stock,unknown,14,10000101,filler,1,18,18
2588,150,0,1A,stock,unknown,15,1011111,target,5,74,74
2589,150,0,1A,stock,unknown,16,1010101,filler,1,70,70
2590,150,0,1A,stock,unknown,17,1001011,target,2,53,53
2591,150,0,1A,stock,unknown,18,1010111,target,3,76,76

In [7]:
female_records = df3[df3['gender'] == 1]
male_records = df3[df3['gender'] == 0]

# female_records

# perform the t-test
from scipy.stats import ttest_ind

# perform t-test on Age for male and female records
t_stat, p_value = ttest_ind(male_records['prediction_recode'], female_records['prediction_recode'])

# print the t-statistic and p-value
print("t-statistic = ", t_stat)
print("p-value = ", p_value)

t-statistic =  3.9524139556467173
p-value =  7.943680953150185e-05